body{
    background-image: url(https://i.pinimg.com/474x/01/23/9f/01239ffad9d09f846240d99ea4d4cf37.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}

p{
    color: mediumvioletred;
}

h2{
    color: aqua;
}

a{
    text-align: center;
    font-family: cursive;
    color: aquamarine;
}